/* FUTURE-PART-START */


/* myfuture_Body-and-banner_start */
.futurebody
{
   height: 100%;
}

.futurebanner
{
    background-image: url(/resources/bg6.jpg);
    background-repeat: no-repeat;
    background-size: 200vh;
    height: 130vh;
    display: flex;
    justify-content: right;
    align-items: right;
    padding-top: 80px;
    display: flex;
}

.futurebanner-info
{
    width: 45%;
    height: 85%;
    padding: 20px;
    background: rgba(0, 0, 50, 0.7); 
    border: 2px solid rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.7), 0 0 50px rgba(0, 255, 255, 0.5);
    color: white;
    border-radius: 10px;
    text-align: left;
    animation: glow2 1.5s infinite alternate;
    align-content: center;
}

@keyframes glow2
{
    from 
    {
        box-shadow: 0 0 30px rgba(0, 255, 255, 0.7);
    }
    to 
    {
        box-shadow: 0 0 50px rgba(0, 255, 255, 0.5);
    }
}

.futurebanner-info h1 
{
    font-size: 2rem;
    text-shadow: 0 0 8px rgba(0, 255, 255, 0.8);
    margin-bottom: 30px;
}

.futurebanner-info h2
{
    font-size: 1rem;
    text-shadow: 0 0 8px rgba(0, 255, 255, 0.8);
}

.futurebanner-info p
{
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
    padding: 30px;
}
/* myfuture_Body-and-banner_end */

/* myfuture_quote_start */
#randomQuoteSection {
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    max-width: 600px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f4f4f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#randomQuote {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

#newQuoteButton {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#newQuoteButton:hover {
    background-color: #555;
}

/* myfuture_quote_end */


/* FUTURE-PART-END */